<header>
  <div id="nav">
      <a href="index.html">Home</a>
      <a href="info.html">Info</a>
      <a href="news.html">News</a>
      <a class="active" href="friend.html">Friend</a>
      <a href="Profile.html">Profile</a>
      <a href="tips.html">Tips</a>
  </div>
</header>
