<header>
  <div id="nav">
      <a href="home">Home</a>
      <a href="info">Info</a>
      <a href="news">News</a>
      <a href="friend">Friend</a>
      <a href="Profile">Profile</a>
      <a href="tips">Tips</a>
      <!-- {{#if loggedin}}
        <a href="logout">Logout</a>
        {{else}}
        <a href="login">Login</a>
      {{/if}} -->
  </div>
</header>
