body {
    font-family: "Lato", sans-serif;
}

#nav {
  font-size: 18px;
  background: #f44336;
  overflow: hidden;
  color: white;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),  0 2px 5px 0 rgba(0,0,0,0.12);
}
#nav a{
  float: left;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  color: white;
  padding: 12px 24px;
  margin:0px;
}

#nav a:hover{
  background: white;
  color: black;
}

#nav a.active{
  background: white;
  color: black;
}

.title {
  padding-left: 20px;
  margin: 0px;
}

.symptoms{
  display: flex;
}

.column {
  width: 50%;
  margin-left: 20px;
}

.average {
  text-align: left;
  padding: 0px 20px 10px 20px;
  width: 100%;
}

.average p {
  margin: 0px;
}

.flex-container {
  display: flex;
  margin-top: 20px;
}

.flex-symps {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
}

.flex-symps:first-child {
    justify-content: center;
    margin: 0px 20px 0px 20px;
}

.flex-symps:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 20px;
  font-size: 20px;
}

.check {
  display: inline-block;
  height: 250px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 3px solid #f44336;
  border-radius: 3px;
}

.symp-contents {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.symp-image-container img {
  max-height: 150px;
  max-width: 100px;
  margin-bottom: 5px;
}

/* begin styles for RSS Feed */
.newsFlex {
  display: flex;
  flex-flow: row;
  justify-content: center;
}


.rss-box {
	 margin: 1em;
	 width: 500px;
	 background-color: #f44336;

}
.rss-items {
	margin-top:0px;
	padding:0.5em; 0.5em;
	margin-left:0px;
	color:#000000;
}
p.rss-title {
  padding:0.5em;
}

.rss-title {
	text-decoration: none;
	font-size: 16px;
	background-color:#f44336;
	color:#000000;
	font-weight:bold;
	margin: 0px;
	padding:0px;
	text-align: center;
}

.rss-title a:hover {
  color: white;
}

.rss-item  {
  font-size: 12px;
  font-weight : normal;
  list-style:none;
  padding-bottom:1em;
}

.rss-item a {
	text-decoration : none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight:bold;
	}

.rss-item a:visited {
	color:white;
}

.rss-item a:hover {
	color: black;
}

.rss-date {
	font-size: 85%;
	font-weight : normal;
	color: #fff;
	}
/* buttons modeled from http://www.wellstyled.com/css-inline-buttons.html */

.pod-play {
   _width:12em;
   margin: 0 0.2em; padding: 0.1em 0; _padding:0;

   white-space:nowrap;
   text-decoration: none;
   vertical-align:middle;
   background: #fb6;
   color: black;
   }
.pod-play em {
   _width:1em; _cursor:hand;
   font-style: normal;
   margin:0; padding: 0.1em 0.5em;
   background: white;
   color: #222;
   }
.pod-play span {
   _width:1em; _cursor:hand;
   margin:0; padding: 0.1em 0.5em 0.1em 0.3em;
   }
.pod-play:hover {
   background: #666;
   color: white;
   }
.pod-play:hover em {
   background: black;
   color: white
   }
