<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="home" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="info" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Info</a>
    <a href="news" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">News</a>
    <a href="friend" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Friend</a>
    <a href="Profile" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Profile</a>
    <a href="tips" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Tips</a>
    <!-- {{#if loggedin}}
      <a href="logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</a>
      {{else}}
      <a href="login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Login</a>
    {{/if}} -->
  </div>

</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">COVIDCoach</h1>
  <p class="w3-xlarge">a website to prevent COVID</p>
  <p class="w3-medien">present by Team KKB</p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Coronavirus disease 2019</h1>
      <h5 class="w3-padding-32">COVID-19, also known as Coronavirus disease 2019 is an infectious disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The disease was first identified in December 2019 in Wuhan, the capital of China's Hubei province, and has since spread globally, resulting in the ongoing 2019–20 coronavirus pandemic. The first confirmed case of what was then an unknown coronavirus was traced back to November 2019 in Hubei. - <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019" target="_blank">wiki</a>

      </h5>

      <p class="w3-text-grey">Common symptoms include fever, dry cough, fatigue, sputum production, loss of smell, and shortness of breath. While the majority of cases result in mild symptoms, some progress to viral pneumonia and multi-organ failure. Emergency symptoms include difficulty breathing, persistent chest pain or pressure, confusion, difficulty waking, and bluish face or lips.</p>
    </div>

    <div class="w3-third w3-center">
      <img src="cov19.png" width="400" height="400">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-quarter w3-center">
      <image src="cov-worldmap.png" width="500" height="430" class="w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-rest" style="margin-left: 550px">
      <h1>COVID-19 Worldwide</h1>
      <h5 class="w3-padding-32">The coronavirus COVID-19 is affecting 210 countries and territories around the world and 2 international conveyances.</h5>
      <p class="w3-text-grey">196,972 people have died so far from the coronavirus COVID-19 outbreak as of April 24, 2020, 23:47 GMT - <a href="https://www.worldometers.info/coronavirus/coronavirus-death-toll/">source</a></p>
    </div>
  </div>
</div>
