{{>header}}

<h1 class="title">NEWS</h1>
<div class="statistics">
  <div class="category">
    <span>Coronavrius Cases in The U.S.</span>
    <span>2,006,967</span>
  </div>
  <div class="category">
    <span>Deaths</span>
    <span>112,466</span>
  </div>
  <div class="category">
    <span>Recovered</span>
    <span>758,170</span>
  </div>
  <div class="category">
    <span>Coronavarius Cases in The World </span>
    <span>7,078,897</span>
  </div>
  <div class="category">
    <span> Deaths</span>
    <span>404,975</span>
  </div>
  <div class="category">
    <span> Recovered</span>
    <span> 3,453,287</span>
  </div>
</div>

<div class="latest">
	<h3>latest news 6/7/2020</h3>
	<span> More than 500,000 coronavirus cases reported in Brazil</span></br>
	<span> Brazil has reported 16,409 cases of novel coronavirus over the past 24 hours, bringing the nationwide total to 514,849.

Brazil is second only to the United States in its number of coronavirus cases.

Dr. Carissa Etienne, the director of the Pan American Health Organization, said earlier this week that the Americas have “become the epicenter of the Covid pandemic.”</span></br>
	<span> -USA TODAY</span></br>
</div>

<div class="img">
<img src="images/woldMap.png">
</div>

<div class = "newsFlex">
<div>
  <script language="JavaScript" src="http://feed2js.org//feed2js.php?src=https%3A%2F%2Frss.app%2Ffeeds%2FKJPuVevuI1uG7x7y.xml&chan=y&desc=1&utf=y"  charset="UTF-8" type="text/javascript"></script>

  <noscript>
  <a href="http://feed2js.org//feed2js.php?src=https%3A%2F%2Frss.app%2Ffeeds%2FKJPuVevuI1uG7x7y.xml&chan=y&desc=1&utf=y&html=y">View RSS feed</a>
  </noscript>
</div>
<div>
  <script language="JavaScript" src="http://feed2js.org//feed2js.php?src=https%3A%2F%2Frss.app%2Ffeeds%2FHAoSu6B3WfNaJF1e.xml&chan=y&desc=1&utf=y"  charset="UTF-8" type="text/javascript"></script>

  <noscript>
  <a href="http://feed2js.org//feed2js.php?src=https%3A%2F%2Frss.app%2Ffeeds%2FHAoSu6B3WfNaJF1e.xml&chan=y&desc=1&utf=y&html=y">View RSS feed</a>
  </noscript>
</div>
<div>
  <script language="JavaScript" src="http://feed2js.org//feed2js.php?src=https%3A%2F%2Frss.app%2Ffeeds%2FKAoqCb6SmIu7TMye.xml&chan=y&desc=1&utf=y"  charset="UTF-8" type="text/javascript"></script>

  <noscript>
  <a href="http://feed2js.org//feed2js.php?src=https%3A%2F%2Frss.app%2Ffeeds%2FKAoqCb6SmIu7TMye.xml&chan=y&desc=1&utf=y&html=y">View RSS feed</a>
  </noscript>
</div>

</div>
